.section2{
    margin-top: 400px;
    text-align: center;
    padding: 1px 20px;
    background-color: rgba(255, 255, 255,0.2);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .estadisticas{
    border: 1px solid white;
    height: 95px;
    border-radius: 8px;
    padding:  8px 20px;
    box-sizing: border-box;
}
  h2 {
    display: flex;
    align-items: center;
    color: red;
    font-size: 20px;
}