
.bodyCon {
  /* margin-right: 400px;
  margin-left: 400px; */
  
  background-color: black;
  background-image: url("../pictures/quiereCacao2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
}
.mainCon{
  
  width: 650px;
  margin: 100px auto 30px;
  display: flex;
  align-items: center;
}
.row {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
}
.section1{
  margin-top: 400px;
  padding: 10px 0px 10px 0px;
  border-radius:   8px;
  background-color: rgba(255, 255, 255,0.2);
}
@keyframes fuego {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.buttonBack {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(-45deg, #ff0000, #a85925, #61dafb);
  background-size: 200% 200%;
  animation: fuego 2s infinite;
};

